conduit-favorite-post-btn {
  @extend .btn;
  @extend .btn-sm;

  .counter {
    font-size: 0.8rem !important;
    &:not(:empty) {
      padding-left: 0.5rem;
    }
  }
}

conduit-article conduit-favorite-post-btn {
  margin-left: 0.5rem;
  i {
    padding-right: 0.5rem;
  }
  .counter:not(:empty) {
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}
