@use 'article-mixins';

conduit-container:not(.authenticated#{$conduit-ns}) conduit-new-article-comment {
  @extend .d-none;
}

conduit-new-article-comment {
  @include article-mixins.article-comment-card;

  & > form {
    display: contents;
  }

  .card-footer {
    .btn {
      font-weight: 700;
      float: right;
    }

    .comment-author-img {
      height: 30px;
      width: 30px;
    }
  }
}
