# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Yarn cache
/.yarn
!.yarn/releases
!.yarn/plugins
.pnp.*

# Lock files as this is part of Yarn worktree
yarn.lock
package-lock.json

# System Files
.DS_Store
Thumbs.db

# Output
/dist
/target
*.log
