@use '../../node_modules/bootstrap/scss/bootstrap';

$enable-flex:               true;
$enable-grid-classes:       true;

// CONDUIT STYLES //
$font-family-logo:       'Titillium Web', sans-serif;
.logo-font {
  font-family: $font-family-logo;
}

// this allows us to have the flush footer that extends with viewport
html {
  position: relative;
  min-height: 100vh;
  padding-bottom:100px;
}

// Bootstrap overrides
$headings-font-family:   'Merriweather Sans', sans-serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$brand-primary: #5CB85C;
$brand-danger:  #B85C5C;

// Set the navbar's logo to the conduit logo font & large size
.navbar-brand {
  font-family: $font-family-logo;
  font-size:1.5rem !important;
  padding-top:0rem !important;
  margin-right:2rem !important;
  color:$brand-primary !important;
  // margin-bottom:40px;
}
// set a smooth transition for nav-link hover effects
.nav-link:hover {
  transition: 0.1s all;
}
$navbar-padding-x: 0rem !important;

// create style for nav-link pills that do an outline instead of block
.nav-pills.outline-active {
  .nav-link {
    border-radius:0px;
    border:none;
    border-bottom:2px solid transparent;
    background:transparent;
    color:#aaa;
    &:hover {
      color:#555;
    }

    &.active {
      background: #fff !important;
      border-bottom:2px solid $brand-primary !important;
      color: $brand-primary !important;
    }
  }
}

// general error handling style
.error-messages {
  color: $brand-danger !important;
  font-weight:bold;
}

// This is used on homepage & post page
// Basically a pretty wrapper for H1 at top
.banner {
  color:#fff;
  background: #333;
  padding:2rem;
  margin-bottom:2rem;

  h1 {
    text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    margin-bottom:0px;
  }
}

// Auto offset from top for pages
.container.page {
  margin-top:1.5rem;
}



// Counter for buttons
.btn .counter {
  font-size:0.8rem !important;
}

@import '../common/layout/layout';
@import '../common/input/input';
@import '../generic/generic';
@import '../pages/article/article';
@import '../pages/editor/editor';
@import '../pages/home/home';
@import '../pages/login/login';
@import '../pages/profile/profile';
@import '../pages/register/register';
@import '../pages/settings/settings';
